{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>

        {% for item in list %}
            {% if item.active_state == 0 %}
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ item.photo_url|safe }}" alt="{{ item.title|safe }}" class="img-fluid img-thumbnail" style="width: 30rem;">
                    </div>
                    <div class="col-md-6 align-self-center">
                        <p>Listing: <a href="{% url 'listing' title=item.title %}">{{ item.title|safe }}</a></p>
                        <p class="">Description: {{ item.description|safe }}</p>
                        <p class="">Price: {{ item.price|safe }}</p>
                        <p class="">Created {{ item.creation_date|date:"D, d m y" }} {{ item.creation_date|time:"h:i A" }}</p>
                    </div>
                </div>
                <hr>
            {% endif %}
        {% endfor %}
{% endblock %}