{% extends "auctions/layout.html" %}

{% block body %}

    <p>Listing: <a href="{% url 'listing' title=item.title %}">{{ item.title|safe }}</a></p>
    <div class="col-md-12 text-center">
        <img src="{{ item.photo_url|safe }}" alt="{{ item.title|safe }}" class="img-fluid img-thumbnail" style="width: 40rem;">
        <p class="">Description: {{ item.description|safe }}</p>
    </div>
    <p class="">Price: {{ item.price|safe }}</p>
    <h2 class="">Details:</h2>
    <li>Listed by: 
        {% if item.user == "admin" %}
            <a href="{% url 'admin:index' %}">{{ item.user }}</a></li>
        {% else %}
            {{ item.user }}
        {% endif %}
    <li class="">Categories: 
        {% for category in item.category.all %}
            <a class="category-indentation" href="{% url 'category' category=category %}">{{ category|safe }}</a>
        {% endfor %}
    </li>
    
    <li>Comments:</li>
    {% for comment in item.comments.all %}
        {% if comment != "No comment" %}
            <p class="comment">{{ comment|safe }}</p>
            <hr>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
        {% if item.active_state %}
            {% if 'bid' in message %}
                <p class="alert alert-warning">{{ message }}</p>
            {% endif %}
            {% if item.bids_number %}
                <h6>{{ item.bids_number }} bid(s) so far.
                {% for bid in item.bid_price.all %}
                    {{ bid.user }}
                    {{ bid.bid_price }}
                    {{ bid }}
                    {% if bid.bid_price == item.price and user.username == bid.user %}
                        Your bid is the current bid.
                    {% endif %}
                {% endfor %}
                </h6>
            {% endif %}
            <form action="{% url 'add_comment_or_bid' title=item.title %}" method="post">
                {% csrf_token %}
                <input class="col-md-2" type="number" name="bid" placeholder="Place your bid here, greater than others'">
                <input class="btn btn-primary" type="submit" name="bid_submit" value="Place Bid">
                {% if item.user == user.username and item.price %}
                    <input class="btn btn-secondary" type="submit" name="bid_close" value="Close the Bid">
                {% endif %}
            </form>
        {% else %}
            {% if item.user == user.username %}
                <p class="alert alert-success">You are the winner of this listing, with the price of {{ item.price }}</p>
            {% else %}
                <P class="alert alert-warning">This listing is Closed!</P>
            {% endif %}
        {% endif %}
        <hr>
        {% if 'comment' in message %}
            <p class="alert alert-warning">{{ message }}</p>
        {% endif %}
        <form action="{% url 'add_comment_or_bid' title=item.title %}" method="post">
            {% csrf_token %}
            <!-- <div class="form-group"> -->
                <input class="form-control" type="text" name="new_comment" placeholder="New Comment">
                <br>
            <!-- </div> -->
            {% if message == "Can't add empty or repetitive comment!" %}
                <P class="alert alert-warning">{{ message }}</P>
                <br>
            {% endif %}
            <input class="btn btn-primary" type="submit" name="comment_submit" value="Add Comment">
        </form>
        <br>
        {% if user in item.watchlist.all %}
            {% if message == "You are going to remove this listing from your watchlish, are you sure?" %}
                <p class="alert alert-danger">{{ message }}</p>
            <a class="btn btn-danger" href="{% url 'ARWatchlist' key=0 title=item.title %}">Yes, Remove it from my Watchlist</a>
            {% else %}
            <a class="btn btn-secondary" href="{% url 'ARWatchlist' key=2 title=item.title %}">Remove from my Watchlist</a>
            {% endif %}
        {% else %}
            <a class="btn btn-primary" href="{% url 'ARWatchlist' key=1 title=item.title %}">Add to my Watchlist</a>
        {% endif %}
    {% endif %}

{% endblock %}