{% extends "auctions/layout.html" %}

{% block body %}

    <p>Listing: <a href="{% url 'listing' title=item.title %}">{{ item.title|safe }}</a></p>
    <p><img src="{{ item.photo_url|safe }}" alt="{{ item.title|safe }}"></p>
    <p class="">Description: {{ item.description|safe }}</p>
    <p class="">{{ item.price|safe }}</p>
    
    <p>Comments: </p>
    {% for comment in item.comments.all %}
        {% if comment != "No comment" %}
            <p class="">{{ comment|safe }}</p>
            <hr>
        {% endif %}
    {% endfor %}

    <form action="{% url 'add_comment' title=item.title %}" method="post">
        {% csrf_token %}
        <!-- <div class="form-group"> -->
            <input class="form-control" type="text" name="new_comment" placeholder="New Comment">
            <br>
        <!-- </div> -->
        {% if message == "Can't add empty or repetitive comment!" %}
            <P class="alert alert-warning">{{ message }}</P>
            <br>
        {% endif %}
        <input class="btn btn-primary" type="submit" value="Add Comment">
    </form>
    <br>
    {% if user.is_authenticated %}
        {% if user in item.watchlist.all %}
            {% if message == "You are going to remove this listing from your watchlish, are you sure?" %}
                <p class="alert alert-danger">{{ message }}</p>
            <a class="btn btn-danger" href="{% url 'ARWatchlist' key=0 title=item.title %}">Yes, Remove it from my Watchlist</a>
            {% else %}
            <a class="btn btn-secondary" href="{% url 'ARWatchlist' key=2 title=item.title %}">Remove from my Watchlist</a>
            {% endif %}
        {% else %}
            <a class="btn btn-primary" href="{% url 'ARWatchlist' key=1 title=item.title %}">Add to my Watchlist</a>
        {% endif %}
    {% endif %}

{% endblock %}