{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <!-- listing in the below line represents used item in other htmls, 
             this time listing is used to distinguish with below item in for loop -->
        {{ listing.title }} {{ message }}
    {% endif %}
    <h2>Watchlist Listings</h2>

        {% for item in watchlist %}
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ item.photo_url|safe }}" alt="{{ item.title|safe }}" class="img-fluid img-thumbnail" style="width: 30rem;">
                </div>
                <div class="col-md-6 align-self-center">
                    <p>Listing: <a href="{% url 'listing' title=item.title %}">{{ item.title|safe }}</a></p>
                    <p class="">Description: {{ item.description|safe }}</p>
                    <p class="">Price: {{ item.price|safe }}</p>
                    <p class="">Created {{ item.creation_date|date:"D, d m y" }} {{ item.creation_date|time:"h:i A" }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
{% endblock %}